*.sw?
*.tmp
build*/
boost/
boost_*.tar*

*.idea

# CMake
CMakeFiles
CMakeScripts
CMakeCache*
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
cmake-build-debug/*
cmake-build-release
**/*.cbp
*.cbp
CMakeCache.txt
